{% load i18n %}

<div class="section-title">Regels</div>
<div class="section-text">
    De standaardregels voor wedstrijden in het klassement zijn als volgt:
    <a href="#footnote-1">[1]</a>
</div>

<div class="section-header">Doelpuntentelling</div>
<div class="section-text">
    Je wint als je 10 punten of meer hebt gescoord.     Er zijn drie manieren om te scoren. Voor de meeste doelpunten
    wordt 1 punt gerekend. Als de bal het laatst door de keeper van het tegengestelde doel wordt aangeraakt (alleen de
    doelpalen mogen de bal ook geraakt hebben), dan telt de punt voor twee. Deze doelpunten zijn namelijk lastig te
    maken. Mocht de bal terugkaatsen uit het doel, dan is dit een klinker. Voor een klinker krijg je 3 punten.
    <a href="#footnote-2">[2]</a>
    Een doelpunt wordt niet geteld als de bal door geen enkel poppetje wordt aangeraakt.
</div>

<div class="section-header">Draaien</div>
<div class="section-text">
	Draaien is het een zwengel geven aan een handvat en het vervolgens loslaten, waardoor de poppetjes hard ronddraaien.
    Dit zorgt voor minder controle over het schot en als meerdere mensen het gaan doen wordt het spel vrij chaotisch.
    Daarom is het verboden om de handvatten van de stangen los te laten in klassementspel. Een doelpunt dat met deze
    methode gescoord wordt telt uiteraard niet.
</div>

<div class="section-header">Kruipen</div>
<div class="section-text">
	Als het puntenverschil tussen de winnaar en de verliezer 10 punten of meer bedraagt (10-0, 11-1, 12-0), dan mag de
    verliezende partij onder de tafelvoetbaltafel door kruipen. Bij de gratie van de winnaar kan dit natuurlijk verhoed
    worden.
</div>

<div class="footnotes">
    <div id="footnote-1" class="footnote">[1]
        De regels zijn zoals gangbaar op de Fruytier, met enige versimpeling, die naar verluidt de sterkste tafelvoetballers
        levert. De internationale tafelvoetbalbond verbiedt draaien ook, maar geeft ook onnodig veel regels voor pauzes en
        andere dingen die nou eenmaal vastgelegd moeten worden voor kansloze try-hards. Vreemder nog is dat ze passen tussen
        stangen grotendeels aan banden leggen.
    </div>
    <div id="footnote-2" class="footnote">[2]
        Deze regel is niet van toepassing op tafels waar klinkers veel te makkelijk kunnen worden gemaakt. (Dan moet
        afgesproken worden dat ze één dan wel nul punten opleveren.) De tafel voor de BK laat het toe, maar het is daar heel
        zeldzaam. Een keeperklinker (praktisch onmogelijk) levert 5 punten op.
    </div>
</div>
