{% load i18n %}


<div class="section-title">{% translate 'ELO' %}</div>
<div class="section-text">{% blocktranslate %}
    De Elo-score is bedacht door Arpad Elo en wordt veel gebruikt om spelers in allerlei sporten over een langere tijd
    te waarderen, met name in individuele sporten als schaken en tennis. De betekenis van de score ligt in het verschil
    tussen twee personen. Afhankelijk van de schaalfactor ({{ scaling_factor }}), die de schaal van de score aangeeft,
    kun je de winkansen van beide personen in een wedstrijd aanwijzen. Bij een schaalfactor van 400 is de bij een
    verschil van 100 Elo de winkans 36,0%, bij een verschil van 200 24,0% en bij een verschil van 500 5,3% voor de lager
    gerangschikte speler.

    De k-factor ({{ k_factor }}) geeft de gevoeligheid van de schaal weer, dus bij een hogere k-factor zal je score
    sneller richting naar de juiste waarde gaan, maar daar veranderlijker zijn door goede en slechte dagen.

    Je krijgt op deze webplaats een beginscore van {{ default_rating }}.
{% endblocktranslate %}</div>

<div>

</div>
