{% load i18n %}

<div class="section-title">{% translate 'Gericht schieten' %}</div>
<div class="section-text">{% blocktranslate %}
    De bal kan niet alleen maar recht vooruit worden geschoten. Meerdere technieken bestaan om onder een hoek te
    schieten.
{% endblocktranslate %}</div>

<div class="section-header">{% translate 'Met de hoek van de voet schieten' %}</div>
<div class="section-text">{% blocktranslate %}
        In plaats van de bal met het voorste vlakke stuk te raken, kun je de hoeken van de voet gebruiken. De
        positie van het contact op de bal heeft invloed op de richting.
{% endblocktranslate %}</div>

<div class="section-header">{% translate 'Scheef aanvliegen' %}</div>


<div class="section-header">{% translate 'Getrapt schieten' %}</div>

<div class="section-title">{% translate 'Schieten met de aanvallers' %}</div>

<div class="section-title">{% translate 'Schieten met de middenvelders' %}</div>

<div class="section-title">{% translate 'Schieten met de verdedigers' %}</div>

<div class="section-title">{% translate 'Schieten met de keeper' %}</div>

<div class="section-title">{% translate 'Alle stangen bedienen (1v1)' %}</div>
