{% load i18n %}

<div class="section-title">{% translate 'Gericht schieten' %}</div>
<div class="section-text">{% blocktranslate %}
    De bal kan niet alleen maar recht vooruit worden geschoten. Meerdere technieken bestaan om onder een hoek te
    schieten.
{% endblocktranslate %}</div>

<div class="section-header">{% translate 'Met de hoek van de voet schieten' %}</div>
<div class="section-text">{% blocktranslate %}
        In plaats van de bal met het voorste vlakke stuk te raken, kun je de hoeken van de voet gebruiken. De
        positie van het contact op de bal heeft invloed op de richting.
{% endblocktranslate %}</div>

<div class="section-header">{% translate 'Scheef aanvliegen' %}</div>


<div class="section-header">{% translate 'Getrapt schieten' %}</div>

<div class="section-title">{% translate 'Schieten met de aanvallers' %}</div>
<div class="section-text">{% blocktranslate %}
    Met de aanvallers kun je weinig anders doen dan schieten op het doel. Met dit driemanschap zijn er eigenlijk twee
    richtingen mogelijk: rechtdoor schieten met de spits of een schuin schot wagen met een der buitenspelers. Het eerste
    is het makkelijkst om te doen, maar ook het makkelijkst om tegen te houden.
{% endblocktranslate %}</div>
<div class="section-header">{% translate 'Recht vooruit' %}</div>
<div class="section-text">{% blocktranslate %}
    Door eerst de bal een zetje opzij te geven en dan snel een schot te plaatsen, breng je dynamiek in het spel en
    bevraag je de reflexen van je tegenstander. (Het beste is dit te doen in de richting waar de verste verdediger
    staat, want dan kom je in de dode hoek van de verdediger voor het doel.) Als je dit goed onder de knie hebt, kun je
    je verder ontwikkelen en heb je een gevaarlijk wapen in je aanvallersarsenaal.
{% endblocktranslate %}</div>

<div class="section-title">{% translate 'Schieten met de middenvelders' %}</div>

<div class="section-title">{% translate 'Schieten met de verdedigers' %}</div>

<div class="section-title">{% translate 'Schieten met de keeper' %}</div>

<div class="section-title">{% translate 'Alle stangen bedienen (1v1)' %}</div>


<div class="section-title">{% translate 'Balcontrole' %}</div>

